<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>我的管理员</title>
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_8n6h2uljkk2o6r.css">
	<link rel="stylesheet" href="../static/css/page/adminShow.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
	<header class="title"><a class="butt left" href="my.html">返回</a>我的管理员</header>
	<div class="body">
		<div class="img-box photo-box"><img onerror="this.remove();" src="http://awb.img.xmtbang.com/img/uploadnew/201512/13/9fd5b5ac643640e291c83f0380a8f0b6.jpg"></div>
		<h2>管理员名字</h2>
		<p class="msg">添加管理员微信与管理员取得联系！请点击<a href="javascript:;">这里</a>！</p>
		<p class="introduce-title">介绍：</p>
		<div class='introduce'>
			<p>这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！</p>
			<p>这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！</p>
			<p>这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！这里是管理员的介绍！</p>
		</div>
	</div>
	<div class="dialog-alert">
		<div class="mask"></div>
		<div class="content">
			<div class="img-box"><img src="https://mp.weixin.qq.com/wiki/static/assets/9b1776a91b0a278bfcef27757752ae3c.png"></div>
			<p class="text">长按识别二维码，添加管理员微信号！</p>
		</div>
	</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src='../static/js/public/dialogAlert.js'></script>
<script type="text/javascript" src="../static/js/public/weuiDialog.js"></script>
<script type="text/javascript">
	(function(){
		$('.msg a').click(function(){
			$('.dialog-alert').show();
		});
	})();
</script>
</html>