<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>管理员列表</title>
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ogyhajkznay8pvi.css">
	<link rel="stylesheet" href="../static/css/page/adminList.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
	<header class="title"><a class="butt left" href="orderSubmit.html">返回</a>选择管理员</header>
	<div class="body">
		<div class="order">
			<p><span>订单状态：</span><span>成功</span></p>
			<p><span>订单号为：</span><span>12312312312312312312</span></p>
		</div>
		<div class="msg">请从下列管理员中选择一位进行联系</div>
		<div class="list">
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
			<div class="item">
				<div class="iconfont icon-single-select-no"></div>
				<div class="img-box photo"><img onerror="this.remove();" src="http://tupian.qqjay.com/tou3/2016/0725/cb00091099ffbf09f4861f2bbb5dd993.jpg"></div>
				<div class="content">
					<p class="name">张XX</p>
					<p class="title"><span>简介：</span><span class="butt">展开</span></p>
					<p class='text'>这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介</p>
				</div>
			</div>
		</div>
	</div>
	<div class="button-box">
		<div class="button button-1">确定</div>
	</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script type="text/javascript">
	(function(){

		// 绑定展开事件
		$('.body').on('click','.item .butt',function(e){
			var _this = $(this),
				dom = _this.parent().siblings('.text');
				if ( _this.text() == '展开' ) {
					// 将展开的关闭掉
					var text = $('.item .text.text-no'),
						title = text.siblings('.title'),
						butt = $('.butt',title);
					text.removeClass('text-no');
					butt.text('展开');

					_this.text('收起');
					dom.addClass('text-no');
				}else{
					_this.text('展开');
					dom.removeClass('text-no');
				}
		});

		// 单选按钮事件
		$('.body').on('click','.item .iconfont',function(e){
			var _this = $(this);
			if ( _this.hasClass('icon-single-select-no') ) {
				$('.list .item .icon-single-select-yes').removeClass('icon-single-select-yes').addClass('icon-single-select-no');
				_this.removeClass('icon-single-select-no').addClass('icon-single-select-yes');
			}
		});

	})(window,Zepto);
</script>
</html>