<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <title>答题</title>
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/page/answerList.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ogyhajkznay8pvi.css">
    <script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body class="swiper-container">
<header class="title"><a class="butt left" href="my.html">返回</a>答题</header>
<div class="swiper-wrapper">
    <div class="scroll swiper-slide">
        <ul class="answer-list">
            <li>
                <p> 1、有两根不均匀分布的香，香烧完的时间是一个小时，你能用什么方法来确定一段15分钟的时间？</p>
                <div class="answer">
                    答案：1234
                </div>
            </li>
            <li>
                <p> 1、有两根不均匀分布的香，香烧完的时间是一个小时，你能用什么方法来确定一段15分钟的时间？</p>
                <div class="answer">
                    答案：1234
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>