<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>空白页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<style type="text/css">
		.blank-page-text{
			font-size: 14px;
			color: #333;
			display: block;
			line-height: 1.5;
			width: 100%;
			text-align: center;
			margin-top: 50%;
		}
	</style>
</head>
<body>
	<span class="blank-page-text">您还暂未有管理人员，页面跳转中	～</span>
</body>
</html>