<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>第一课时</title>
	<!-- <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="../static/css/page/courseHourShow.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1477450813_3041627.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body style="background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAgMAAABjUWAiAAAACVBMVEX28ef48+n69esoK7jYAAAB4UlEQVQozw2OsW4bQQxEhwLXkDrysGdEqRRgVShfQQq8wOr2jD0jSpXCLvwXbtKfADlFqgSwC/9ljqweZgYzQFnb/QGepYhA9jzmTc1WaSEtQpbFgjWATI00ZZtIckXx8q2Oe5yEByBy+RHOTcM+VVTadULsvxvRC/q8WTwgcWGD+Mnaqa0oy2gw2pKFzK+PzEsus5hP9AHojKslVynLlioVTBEN8cjDNnZoR1uMGTiZAAN47HxMtEkGUE9b8HWzkqNX5Lpk0yVziAJOs46rK1pG/xNuXLjz95fSDoJE5IqG23MAYPtWoeWPvfVtIV/Ng9oH3W0gGMPIOqd4MK4QZ55dV61gOb8Zxp7I9qayaGxp6Q91cmC0ZRdBwEQVHWzSAanlZwVWc9yljeTCeaHjBVvlPSLeyeBUT2rPdJegQI103jVS3uYkyIx1il6mslMDedZuOkwzolsagvPuQAfp7cYg7k9V1NOxfq64PNSvMdwONV4VYEmqlbpZy5OAakRKkjPnL4CBv5/OZRgoWHBmNbxB0LgB1I4vXFj93UoF2/0TPEsWwV9EhbIiTPqYoTHYoMn3enTDjmrFeDTIzaL1bUC/PBIMuF+vSSYSaxoVt90EO3Gu1zrMuMRGUk7Ffv3L+A931Gsb/yBoIgAAAABJRU5ErkJggg==);">
	<header class="title"><a class="butt left" href="courseShow.html">返回</a>课程一第一课时</header>
	<div class="body">
		<div class="content">
			<p>这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容</p>
			<p>这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容这里填充内容</p>
			<img src="../static/image/public/loading_img_100_min.png" alt="">
			<img src="../static/image/public/loading_img_100_min.png" alt="">
		</div>
	</div>
	<div class="status" style="background-color: rgba(255,255,255,0.3);">
		<span class="status_left">
			<span class="title">课时当前状态：</span><span class="text">正在学习中！</span>
		</span>
		<a href="an" class="status_right">答题</a>
	</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script type="text/javascript">
	
</script>
</html>