<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>课件列表</title>
	<link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/page/courseShow.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1477450813_3041627.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
<header class="title"><a class="butt left" href="my.html">返回</a>课时列表</header>
<div class="body">
	<ul class="hour-list" style="padding-top: 1px">
		<!-- 已经学过的  li标签有ok类  iconfont 那里是icon-lock-ok -->
		<!-- 可以学习的  li标签有ok类  iconfont 哪里是icon-lock -->
		<!-- 不能学习的  li标签没有ok类 a标签有no-onclick类  iconfont 那里是icon-lock -->
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
		<li class="ok"><a href="answerList.html">
			<div class="iconfont icon-lock-ok"></div>
			<div class="text">
				<p class="title">第一课</p>
			</div>
			<div class="button">答案详情</div>
		</a></li>
	</ul>
</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script type="text/javascript">
</script>
</html>