<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>大礼拜</title>
	<link rel="stylesheet" href="../static/css/page/dalibai.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ogyhajkznay8pvi.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
	<header class="title"><a class="butt left" href="dalibai.html">返回</a>大礼拜详情</header>
	<div class="body">
		<div class="list">
			<div class="item">
				<div class="title">本地用户名：</div>
				<div class="input-box"><input type="text" readonly name="name-bd" value="本地用户名"></div>
			</div>
			<div class="item">
				<div class="title">真实姓名：</div>
				<div class="input-box"><input type="text" readonly name="name" value="真实姓名"></div>
			</div>
			<div class="item">
				<div class="title">目标时间：</div>
				<div class="input-box"><input type="date" class="no-onclick" readonly name="date" value="2016-11-10"></div>
			</div>
			<div class="item">
				<div class="title">大礼拜：</div>
				<div class="input-box"><input type="number" readonly name="dalibai" value="123"></div>
			</div>
			<div class="item">
				<div class="title">供水：</div>
				<div class="input-box"><input type="number" readonly name="gongshui" value="123"></div>
			</div>
			<div class="item">
				<div class="title">统计：</div>
				<div class="input-box"><input type="number" readonly name="tongji" value="123"></div>
			</div>
			<div class="item">
				<div class="title">曼达：</div>
				<div class="input-box"><input type="number" readonly name="manda" value="123"></div>
			</div>
			<div class="item">
				<div class="title">百字明：</div>
				<div class="input-box"><input type="number" readonly name="baiziming" value="123"></div>
			</div>
		</div>
	</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script type="text/javascript">
	(function(){
		
	})();
</script>
</html>