<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <title>功德回向</title>
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/page/dalibai.css">
    <link rel="stylesheet" href="../static/css/page/MeritPage.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ogyhajkznay8pvi.css">
    <script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body class="swiper-container">
<header class="title"><a class="butt left" href="my.html">返回</a>功德回向</header>
<div class="pagination"></div>
<div class="swiper-wrapper">
    <div class="scroll swiper-slide">
        <form action="" method="" accept-charset="utf-8">
            <div class="list">
                <div class="item">
                    <div class="title">姓名：</div>
                    <div class="input-box"><input type="text" required name="name-bd" ></div>
                </div>
                <div class="item">
                    <div class="title">性别：</div>
                    <div class="input-box">
                        <label for="boy"></label>男 <input type="radio" id="boy" name="sex" checked>
                        <label for="girl"></label>女 <input type="radio" id="girl" name="sex">
                    </div>
                </div>
                <div class="item">
                    <div class="title">地点：</div>
                    <div class="input-box"><input type="type" name="wangsheng1" required value=""></div>
                </div>
                <div class="item">
                    <div class="title">出生日期：</div>
                    <div class="input-box"><input type="date" name="date" value="2016-11-10"></div>
                </div>
                <div class="item">
                    <div class="title">往生日期：</div>
                    <div class="input-box"><input type="date" name="wangshengdate" value="2016-11-10"></div>
                </div>
                <div class="item">
                    <div class="title">往生地点：</div>
                    <div class="input-box"><input type="type" name="address2"></div>
                </div>
                <div class="item">
                    <div class="title">往生原因：</div>
                    <div class="input-box"><input type="type" name="reason"></div>
                </div>
                <div class="title hui">回向文：</div>
                <div class="textarea">
                    <textarea  class="textarea">1</textarea>
                </div>
            </div>
            <div class="button-box">
                <button class="button button-1" type="submit">提交</button>
            </div>
        </form>
    </div>
    <div class="scroll swiper-slide">
        <div class="main">
            <div class="list">
                <ul class="list_hui">
                    <li>
                        <h3 class="title">1. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                    <li>
                        <h3  class="title">2. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                    <li>
                        <h3  class="title">2. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                    <li>
                        <h3  class="title">2. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                    <li>
                        <h3  class="title">2. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                    <li>
                        <h3  class="title">2. 师兄姐们吉祥！</h3>
                        <div class="content">闻法上师郑慧萍师姐朋友的母亲麦月英老人，现年88岁，已于2017年7月30日下午4点在三亚市解放二路宝盛广场后面(原三亚宾馆)往生，恳请师兄姐们作功德回向给麦月英老人，祈请南无第三世多杰羌佛、南无阿弥陀佛、南无观世音菩萨和十方诸佛菩萨加持，愿麦月英老人业障消除，离苦得乐，早日往生西方极乐世界！阿弥陀佛！</div>
                    </li>
                </ul>
                <div class="no-data"><span>暂时还没有数据！</span></div>
            </div>
            <button class="button button-1 button-fixed" type="submit">功德回向完成</button>
        </div>
    </div>
</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script type="text/javascript">
    (function () {
        // 轮播
        var mySwiper = new Swiper('.swiper-container', {
            paginationClickable: true,//分页器控制滚动开启
            pagination: '.pagination',
            paginationBulletRender: function (index, className) {
                return '<div class="' + className + ' pagination-item-' + index + '">' + ((index == 0) ? ('填写功德回向内容') : ('功德回向')) + '</div>';
            }
        });
    })();
</script>
</html>