<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>恭请加持物</title>
	<link rel="stylesheet" href="../static/css/page/sort.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
	<header class="title"><!-- <a class="butt left" href="#">返回</a> -->加持物分类</header>
	<div class="body">
		<div class="list-2-n sort-list">
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src=""></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
			<a class="block list-2-n-item sort-item" href="./prizeShow.html">
				<div class="img-box"><img onerror="this.remove();" src="http://pic.58pic.com/58pic/15/62/72/30r58PICFtM_1024.jpg"></div>
				<div class="text"><p class="title text-overflow-1">加持物分类X</p></div>
			</a>
		</div>
	</div>
</body>
<script type="text/javascript">
</script>
</html>