<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<title>首款</title>
	<link rel="stylesheet" href="../static/css/page/dalibai.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_s49d34j2359udi.css">
	<script type="text/javascript" src="../static/js/public/computeDPR.my.js"></script>
</head>
<body>
	<header class="title"><a class="butt left" href="my.html">返回</a>首款</header>
	<div class="body">
		<form action="" method="" accept-charset="utf-8">
			<div class="list title-left">
				<div class="item">
					<div class="title">单号：</div>
					<div class="input-box"><input type="text" readonly name="danhao" value="0123489723123"></div>
					<!-- readonlys属性是指的该元素只读 -->
					<!-- required属性是指该元素为必需输入的 -->
				</div>
				<div class="item">
					<div class="title">应收款：</div>
					<div class="input-box"><input type="number" readonly name="yingshoukuan" value="0.00"></div>
				</div>
				<div class="item">
					<div class="title">收款方式：</div>
					<div class="input-box">
						<select>
							<option value ="收款方式1">收款方式1</option>
							<option value ="收款方式2">收款方式2</option>
						</select>
					</div>
				</div>
				<div class="item">
					<div class="title">收款金额：</div>
					<div class="input-box"><input type="number" name="shoukuanjinge" required value=""></div>
				</div>
				<div class="item">
					<div class="title">收款状态：</div>
					<div class="input-box">
						<label style="margin-right: 10px;"><input class="no-width-100" type="radio" name="shoukuanfangshi" value="no">待收款</label>
						<label><input class="no-width-100" type="radio" name="shoukuanfangshi" value="yes">已收款</label>
					</div>
				</div>
				<div class="item">
					<div class="title">收款经办人：</div>
					<div class="input-box"><input type="text" name="shoukuanjingbanren" value=""></div>
				</div>
				<div class="item">
					<div class="title">备注：</div>
					<div class="input-box"><textarea></textarea></div>
				</div>
			</div>
			<div class="button-box"><button class="button button-1" type="submit">提交</button></div>
			<div class="button-box"><button class="button button-1" type="reset">重置</button></div>
		</form>
	</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script type="text/javascript">
	
</script>
</html>